In [11]:
li=[10,20,30,4,5,8,90,80]
print(li[0])
print(li[-1])
print(li[0:4])
print(li[-1:])
print(li[::2])
print(li[::3])
print(li[0:6:2])

10
80
[10, 20, 30, 4]
[80]
[10, 30, 5, 90]
[10, 4, 90]
[10, 30, 5]

In [9]:
list1=["python",3,6,"hyd"]
print(list1)
list1[1]="gitam" #updating the list item using indices
list1

['python', 3, 6, 'hyd']

['python', 'gitam', 6, 'hyd']

In [10]:
# delete list items
del list1[1]
list1

['python', 6, 'hyd']

In [15]:
# basic list operations
l=[0,1,2,3,4,5,6]
len(l)  #displays number of elements inside the list

7

In [17]:
# list repetition
l*2

[0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6]

In [22]:
#to check certain element is present in the string
print(14 in l)
print(2 in l)
print(7 not in l)
print(0 not in l)

False
True
True
False

In [23]:
# access all the elements present in the list
print(l)
for i in l:
    print(i)

[0, 1, 2, 3, 4, 5, 6]
0
1
2
3
4
5
6

In [32]:
print(l)
for i in range(len(l)):
    print(l[i])

[0, 1, 2, 3, 4, 5, 6]
0
1
2
3
4
5
6

In [36]:
print(max(l)) #max element of the list
print(min(l)) #min element of the list
print(sum(l)) #sum of all elements in the list

6
0
21

In [43]:
print(l)
l.append("likki") #adds the item to the end of list
l.insert(0,"gitam") #adds new item at the specified

['gitam', 'gitam', 0, 1, 2, 3, 4, 5, 6, 'likki', 'likki', 'likki', 'likki', 'likki']

In [7]:
a=[1,3,5,7,8]
print(a)

[1, 3, 5, 7, 8]

In [9]:
print(a)
a.pop(3)

[1, 3, 7, 8]

8

In [10]:
a.pop()

7

In [11]:
l1=[2,7,34,1,23]
l1.sort()
l1

[1, 2, 7, 23, 34]

In [14]:
b=[11,22,33]
l1.extend(b) #adding one list elements to another list
l1

[1, 2, 7, 23, 34, 11, 22, 33]

In [15]:
l1.reverse() #printing list in reverse order
l1

[33, 22, 11, 34, 23, 7, 2, 1]

In [16]:
#function to return largest element from the list
def largestnumber(num):
    num.sort()
    print(num)
    return num[-1]
num=[4,3,212,34,67,768,342]
largestnumber(num)

[3, 4, 34, 67, 212, 342, 768]

768